# render.yaml
services:
  - type: web
    name: nba-app
    runtime: docker
    rootDir: aplikacja_www
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: nba-db
          property: connectionString
      - key: APP_ENV
        value: production

databases:
  - name: nba-db
    databaseName: nba_database # Your desired database name
    user: nba_user # Your desired database user
    plan: free # Choose your desired plan: free, starter, or professional